{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Stylesheet for this app -->
<link href = "{% static '/chat/style.css' %}" rel = "stylesheet">

    <div class="row"><div class="col-sm">
        <h2 class="text-center">Enter an existing match or start a new one</h2>
    </div></div>

    <!-- Collapsible list of completed games -->
    <div class="row"><div class="col-sm">
        <button type="button" class="collapsible">Completed Games</button>
        <div class="content">
            {% for room in rooms %}{% if room.winner %}
                <a href="{{ request.build_absolute_uri }}{{room.gameRoom.roomname}}/">{{room.gameRoom.roomname}}</a>: <strong>{{room.player1User}}</strong> vs <strong>{{room.player2User}}</strong>
                </br>
            {% endif %}{% endfor %}
        </div>
    </div></div>

    <!-- Collapsible list of in progress games -->
    <div class="row"><div class="col-sm">
        <button type="button" class="collapsible">In Progress Games</button>
        <div class="content">
            {% for room in rooms %}{% if not room.winner and room.player2User %}
                <a href="{{ request.build_absolute_uri }}{{room.gameRoom.roomname}}/">{{room.gameRoom.roomname}}</a>: <strong>{{room.player1User}}</strong> vs <strong>{{room.player2User}}</strong>
                </br>
            {% endif %}{% endfor %}
        </div>
    </div></div>
    
    <!-- Collapsible list of looking for challenger games -->
    <div class="row"><div class="col-sm">
        <button type="button" class="collapsible">Looking For Challenger</button>
        <div class="content">
            {% for room in rooms %}{% if not room.player2User %}
                <a href="{{ request.build_absolute_uri }}{{room.gameRoom.roomname}}/">{{room.gameRoom.roomname}}</a>: <strong>{{room.player1User}}</strong> awaits a challenger!
                </br>
            {% endif %}{% endfor %}
        </div>
    </div></div>
    <br>

    <!-- Create new room input/button group -->
    <div class="row"><div class="col-sm">
        <div class="card">
            <div class="input-group">
                <input id="room-name-input" type="text" class="form-control" placeholder="Room name" >
                <div class="input-group-append">
                    <input id="room-name-submit" class="btn btn-outline-secondary" type="button" value="Create New Game"/>
                </div>
            </div>
            {% if error %}
                <small class="text-danger">Error: Room names must be alphanumeric (no special characters or whitespace)</small>
            {% endif %}
        </div>
    </div></div>

    <script>
        // Submit message on enter key
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        // Log message on submit
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };

        // Make elements collapsible
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}