<!DOCTYPE html>
<!--main page for the game-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "style.css" rel = "stylesheet">
    <title>Mental Combat</title>
</head>

<body class="home">
    
    <h2>Welcome to The Game</h2>
    <h1>Mental Combat</h1> <!-- random name I came up with -->

    <button class="home-btn" onclick="window.location.href='login.html'">LOGIN </button>
    <button class="home-btn" onclick="window.location.href='createacct.html'">CREATE ACCOUNT</button>
    
    <footer> Game created for COMP 307 Winter 2020 Final Project </footer>
</body>

</html>
