<!DOCTYPE html>
<html>
<!--login-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "style.css" rel = "stylesheet">
        <title>Mental Combat</title>
    </head>

    <body>
        <h1>Sign In</h1>
        <section class="form-at">
            <form action="" method="post">
                Username:
                <input type="text" name="username"> <br>
                Password: 
                <input type="text" name="password"> <br>
                <input type="submit"/>
            </form>
        </section>
    </body>
</html>