<!DOCTYPE html>
<!--player main page-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "style.css" rel = "stylesheet">
        <title>Mental Combat</title>
    </head>

    <body>
        <h1> Welcome Player PlaceHolder </h1> <br>
            <button class="home-btn" >RESUME GAME</button> <br>
            <button class="home-btn" >GAME HISTORY</button> <br>
            <button class="home-btn" >START NEW GAME</button>
    </body>



</html>