body {
    color: black;
    background-image: url("home.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

a {
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    padding: 4px;
    margin-left:auto;
    margin-right:auto;
}

.home-btn {
    background-color: black;
    color: white;
    width: 50%;
    display: block;
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
}

.form-at {
    background-color: white;
    display: block;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    border-radius: 25px;
}

footer {
    position:fixed;
    bottom: 0;
    color: white;
}

.sidenav {
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    font-size: 16px;
    text-align: center;
    
}


.sidenav a, button {
    background-color: white;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
}
.sidenav a:hover, button:hover {
    background-color: darkslategray;
    color: white;
}

.modal { /*modal background */
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4)
}

.modal-content {
    background-color: white;
    opacity: 1;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid gray;
    width: 60%;
}