{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- CHOOSE AVATAR -->

    <!-- Carousel of avatar options -->
    <div class="container-fluid">
        <h1 class="text-center">Select Your Avatar</h1>
        <form id="character_select" action="{% url 'characters' %}" method="post">
            {% csrf_token %}
            <div class="row">
            <div class="col-sm">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item text-center active">
                        <label class="radio-inline">
                            <input type="radio" name="choice" value="{% static 'account/bard-drawing-1.png' %}">
                            <img src= "{% static 'account/bard-drawing-1.png' %}"  alt="S1">
                        </label>
                    </div>
                    <div class="carousel-item text-center">
                        <label class="radio-inline">
                            <input type="radio" name="choice" value="{% static 'account/bard-drawing-2.png' %}">
                            <img src= "{% static 'account/bard-drawing-2.png' %}"  alt="S2">      
                        </label>
                    </div>
                    <div class="carousel-item text-center">
                        <label>
                            <input type="radio" name="choice" value="{% static 'account/bard-drawing-3.png' %}">
                            <img src= "{% static 'account/bard-drawing-3.png' %}"  alt="S3">
                        </label>
                    </div>
                    <div class="carousel-item text-center">
                        <label>
                            <input type="radio" name="choice" value="{% static 'account/bard-drawing-4.png' %}">
                            <img src= "{% static 'account/bard-drawing-4.png' %}"  alt="S4">
                        </label>
                    </div>
                    <div class="carousel-item text-center">
                        <label>
                            <input type="radio" name="choice" value="{% static 'account/bard-drawing-5.png' %}">
                            <img src= "{% static 'account/bard-drawing-5.png' %}"  alt="S5">
                        </label>
                    </div>
                    <div class="carousel-item text-center">
                        <label>
                            <input type="radio" name="choice" value="{% static 'account/bard-drawing-6.png' %}">
                            <img src= "{% static 'account/bard-drawing-6.png' %}"  alt="S6">
                        </label>
                    </div>
                    <div class="carousel-item text-center">
                        <label>
                            <input type="radio" name="choice" value="{% static 'account/bard-drawing-7.png' %}">
                            <img src= "{% static 'account/bard-drawing-7.png' %}"  alt="S7">
                        </label>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            </div>

            <!-- Display current choice -->
            <div class="col-sm text-center">
                <h2>Your choice:</h2>
                <img id="choice_image" src=""  alt="Please select an avatar">
            </div>
        </div>

        <!-- Confirm -->
        <div class="row">
            <div class="col-sm text-center">
            <input type="submit" value="Confirm Choice">
            <a href="{% url 'logout' %}">Back</a>
            </div>
        </div>
    </form>

    </div>
    <script>
        // jQuery script to update displayed choice on select
        $('#character_select input').on('change', function() {
            $('#choice_image').attr("src",$('input[type=radio]:checked', '#character_select').val()); 
        });
    </script>

{% endblock %}