<!DOCTYPE html>
{% include 'account/sidenav.html' %}
{% load static %}
<html>
    <head>
        <script>
            var image1 = new Image();
            image1.src = "{% static 'account/bard-drawing-4.png' %}";
            var image2 = new Image();
            image2.src = "{% static 'account/bard-drawing-5.png' %}";

            function draw() 
            {
                var canvas = document.getElementById("myGame");
                var context = canvas.getContext("2d")
                var x_char = 30;
                var y_char = 50;
                context.imageSmoothingEnabled = false;
                context.drawImage(image1, 0, 200-y_char, x_char, y_char);
                context.drawImage(image2, 200-x_char, 100, x_char, y_char);
            } // end function draw
            
            window.addEventListener( "load", draw, false);
        </script>
    </head>
<body>
    <canvas id = "myGame" width = "200" height = "200" 
        style = "border: 2px solid Black;">
        <!--<script src = "{% static 'account/load_game.js' %}">
        CR1 = "{% static 'account/bard-drawing-4.png' %}";
        CR2 = "{% static 'account/bard-drawing-5.png' %}";
        </script>-->
    <!--will be useful for animating image https://stackoverflow.com/questions/52438094/how-to-animate-an-image-in-canvas-using-requestanimationframe-->
    <script src = "{% static 'account/load_game.js' %}"></script>
</body>

</html>