<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Chat Room</title>
        <script>
            var image1 = new Image();
            image1.src = "{{character}}"; //player one
            var image2 = new Image();
            image2.src = "{% static 'account/shadow.png' %}"; //opponent

            function draw() 
            { //getting images
                var canvas = document.getElementById("myGame");
                var context = canvas.getContext("2d")
                var x_char = 30;
                var y_char = 50;
                var height = canvas.height;
                var width = canvas.width;
                context.imageSmoothingEnabled = false;
                context.drawImage(image1, 0, height-y_char, x_char, y_char);
                context.drawImage(image2, width-x_char, height/2, x_char, y_char);
            } // end function draw
            
            window.addEventListener( "load", draw, false);
        </script>

    </head>
<body>
    <div width = "90%" height = "70%">
    <canvas id = "myGame" 
        style = "border: 2px solid Black;">
    </div>
    <div id="after">
        {% block content %}
            
        {% endblock %}
    </div>
    <!--could be useful for animating image https://stackoverflow.com/questions/52438094/how-to-animate-an-image-in-canvas-using-requestanimationframe-->
    <script src = "{% static 'account/load_game.js' %}"></script>
</body>

</html>