{% extends "base.html" %}
{% block content %}
{% include "account/sidenav.html" %}
<!-- PLAYER HOME -->

    <h1 class="text-center"> Welcome {{user}} </h1>

    <a href="{% url 'chat' %}" class="m-2" style="text-decoration:none;"><button class="home-btn" >PLAY GAME</button></a>
    <a href="{% url 'game-history' %}" class="m-2" style="text-decoration:none;"><button class="home-btn" >GAME HISTORY</button></a>
    
    <div class="text-center">
        <img src="{{character}}"/>
    </div>

{% endblock %}

<!-- NOTE: please excuse the in-line CSS. It needed priority over Bootstrap's styling-->