{% extends "base.html" %}
{% block content %}
<!-- SIDE NAVIGATION MENU -->

    <!-- Buttons -->
    <div id="mySidenav" class="sidenav">
        <a href="{% url 'player-main' %}" style="text-decoration:none;"><button >Home</button></a><br/>
        <a href="{% url 'logout' %}" style="text-decoration:none;"><button>Logout</button></a><br/>
        <button id="help-btn" style="text-decoration:none;">Help</button>
    </div>

    <!-- Help modal -->
    <div id="Modal" class="modal">
        <div id="Help" class="modal-content">
                <h4>Quick instructions on how this game works...</h4>
                <p class="text-dark">
                    You are a telepath fighter going into combat to protect your powers! Your avatar can draw powers from three possible sources before you face off with another mysterious telepath. Start or join games to test your strength in battle (you can also look back on your past victories and defeats).
                </p>
                <strong>How To Play:</strong>
                <ul class="text-left">
                <li>Click the button associated with the action you want to take.</li>
                <li>Once both players have sent their actions, the game server will resolve the turn and send to each client the adjusted game state as well as posting a description of the turn in the game chat.</li>
                <li>When one player gets to 0 or less HP remaining, the game will end and set the winning player, visible in each player's game history. </li>
                <li>The game will now be shown in the "Completed" dropdown.</li>
                </ul>

        </div>
    </div>
    
    <script>
        var modal = document.getElementById("Modal");
        var btn = document.getElementById("help-btn");

        // Open modal when click button
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // Click outside modal closes it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

{% endblock %}

<!-- NOTE: please excuse the in-line CSS. It needed priority over Bootstrap's styling-->